@use '@angular/material/prebuilt-themes/azure-blue.css';
@use './styles/normalize.scss';

html,
body {
  height: 100%;
  background-color: #f2f4f7;
}

html {
  font-size: clamp(14px, 1vw + 0.5rem, 16px);
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #1c1c1c;
}
