:host {
  .app-header {
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;

    img {
      width: 9.375rem;
    }

    .nav-list {
      display: flex;
      gap: 1.5rem;

      a {
        font-size: 0.875rem;

        &.active {
          color: blue;
        }
      }
    }
  }
}
