$background-color: #ffffff;
$padding-content: 1.0625rem 0.625rem;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  .products-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.75rem;
    margin: 0.75rem;

    &-header {
      padding: $padding-content;
      background-color: $background-color;
      font-weight: 700;
      color: #475467;
    }

    &-body {
      flex: 1;
      overflow: auto;

      background-color: $background-color;
      padding: $padding-content;
    }
  }
}
